:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color:#000028;
  --color-accent: #FF0070;
  --color-title: #DB00FF;
  --color-title-accent: #FF0070;
  --color-text: #F1B2CE;
  --color-shadow: #FF0070;
  --color-shadow-second: #FF0070;
  --color-decor: #000028;
  --color-button: #FF0070;
  --color-hover: #FF007066;
  --rec-decor: visibile;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("../images/cover-image-dark.png");
    --bg-color: #000028;
    --color-accent: #FF0070;
    --color-title: #DB00FF;
    --color-title-accent: #FF0070;
    --color-text: #F1B2CE;
    --color-shadow: #FF0070;
    --color-shadow-second: #FF0070;
    --color-decor: #000028;
    --color-button: #FF0070;
    --color-hover: #FF007066;
    --rec-decor: visibile;
  }
}

