:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #FFF1F7;
  --color-accent: #FF8DCB;
  --color-title: #FFC2E6;
  --color-title-accent: #353430;
  --color-text: #353430;
  --color-shadow: #FF0070;
  --color-shadow-second: #FF8DCB;
  --color-decor: #353430;
  --color-button: #353430;
  --color-hover: #32312D66;
  --rec-decor: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #FFF1F7;
    --color-accent: #FF8DCB;
    --color-title: #FFC2E6;
    --color-title-accent: #353430;
    --color-text: #353430;
    --color-shadow: #FF0070;
    --color-shadow-second: #FF8DCB;
    --color-decor: #353430;
    --color-button: #353430;
    --color-hover: #32312D66;
    --rec-decor: hidden;
  }
}